mautrix>=0.20.7,<0.21
aiohttp>=3,<4
yarl>=1,<2
asyncpg>=0.20,<1
aiosqlite>=0.16,<1
commonmark>=0.9,<1
ruamel.yaml>=0.15.35,<0.19
attrs>=18.1.0
bcrypt>=3,<5
packaging>=10

click>=7,<9
colorama>=0.4,<0.5
questionary>=1,<3
jinja2>=2,<4
setuptools
